{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Survey Plotter{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if g.user %}
    <br>
    <a class="action" href="{{ url_for('upload.upcsv') }}">Upload CSV</a>
    <div>
    <a class="action" href="{{ url_for('upload.showcsvs') }}">Show uploaded CSVs</a>
    {% else %}
    <div>
    <a class"action" href="{{ url_for('auth.login') }}">Login</a>
    <div>
    <a class"action" href="{{ url_for('auth.register') }}">Register User</a>
    {% endif %}
{% endblock %}
